<div class="dragndrop__inner component__inner">
    {{> component this}}
    <div class="dragndrop__widget component__widget {{#unless _isEnabled}} disabled {{#if _isComplete}} is-complete is-submitted show-user-answer {{#if _isCorrect}}is-correct{{/if}} {{/if}} {{/unless}}">

        <div class="dragndrop-container">

            <div class="dragndrop-overlay"></div>

            <div class="dragndrop-questions">
                {{#each _items}}
                    <div class="dragndrop-question">
                        <div class="dragndrop-question-text">{{this.text}}</div>
                        {{#each accepted}}
                            <div class="dragndrop-item dragndrop-droppable ui-state-enabled"></div>
                        {{/each}}
                        <div class="dragndrop-question-state">
                            <div class="dragndrop-correct-icon icon icon-tick"></div>
                            <div class="dragndrop-incorrect-icon icon icon-cross"></div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="dragndrop-answers clearfix">
                {{#each _possibleAnswers}}
                    <div class="dragndrop-item dragndrop-answer">{{{this}}}</div>
                {{/each}}
            </div>

        </div>

    </div>

    <div class="btn__container" ></div>
</div>
